# ***Q1. Explain with an example each when to use a for loop and a while loop.***

# **For loop: A for loop is a control flow statement that executes code repeatedly for a particular number of iterations. In this control flow statement, the keyword used is for. The for loop is used when the number of iterations is already known.**

# **While loop: A loop that executes a single statement or a group of statements for the given true condition. The keyword used to represent this loop is "while". A "while" loop is used when the number of iterations is unknown. The statement repeats itself till the boolean value becomes false. In a while loop, the condition is tested at the start, also known as the pre-test loop.**

In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [2]:
i =0
while(i<10):
    print(i)
    i =i+1

0
1
2
3
4
5
6
7
8
9

# ***Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.***

In [3]:
#for loop
sum=0
product =1
for i in range(1,11):
    sum = sum+i
    product = product*i

print("sum of 10 nos are:",sum)
print("product of 10 nos are:",product)

sum of 10 nos are: 55
product of 10 nos are: 3628800

In [4]:
#while loop
sum=0
products =1
i=1
while (i<11):
    sum = sum+i
    products = products*i
    i +=1
print("sum of 10 nos are:",sum)
print("product of 10 nos are:",products)

sum of 10 nos are: 55
product of 10 nos are: 3628800

# ***Q3. Create a python program to compute the electricity bill for a household. The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit. Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.***

In [5]:
units = int(input('Enter Units: '))
bill = 0
if units <= 100:
    bill += 4.5*units
    units -= 100
elif units > 100 and units <= 200:
    bill += 450
    units -= 100
    bill += 6*units
elif units > 200 and units <= 300:
    bill += 450+600
    units -= 200
    bill += 10*units
elif units > 300:
    bill += 450+600+1000
    units -= 300
    bill += 20*units
print(f'Total Electricity Bill Rs.{bill}')

Enter Units: 500
Total Electricity Bill Rs.6050

# ***Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.***

In [6]:
#for loop
l = list(range(1,101))

newlist =[]

for i in l:
    c= i**3
    if c %4 ==0 or c%5==0:
        newlist.append(i)
print(newlist)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [7]:
#while loop
newlist2 =[]
i =1
while i <= len(l):
    c = i**3
    if c%4 ==0 or c%5 ==0:
        newlist2.append(i)
    i+=1
print(newlist2)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

# ***Q5. Write a program to filter count vowels in the below-given string. string = "I want to become a data scientist"***

In [8]:
sts = str(input("Enter the input"))
vowels = 'aeiouAEIOU'
count=0
for char in sts:
    if char in vowels:
       count+=1
print(count)

Enter the inputsubhanshu
3

# ***NAME - Subhanshu tripathi***
# ***Email - tripathisubhanshu2@gmail.com***